@import '../../../../shared/view.scss';

// .header:before {
//   content: "";
//   background-color: #b0102d;
//   clip-path: ellipse(300px 450px at 1000px)
// }

// .header-outer {
//   clip-path: polygon(0 50%, 34% 100%, 190% 0, 0 0);
//   // display: inline-block;
//   position: relative;
// }

.header {
  // clip-path: polygon(0 90%, 50% 56%, 150% 0%, 0 0);
  // clip-path: polygon(0 50%, 34% 100%, 190% 0, 0 0);
  // clip-path: (20% 100%, 50% 70%, 80% 100%);
  // background-color: #12232E;
  color: white;
  // border-radius: 3em;
  // botto
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

}

@media (max-width: $maxTabletSize) {
  .big-font {
    font-size: 3rem;
  }
  
  .small-font {
    font-size: 1rem;
  }
  
}

.big-font {
  font-size: 4rem;
}

.small-font {
  font-size: 2rem;
}

.fade-in-slow {
  overflow: hidden;
  width: 30em;
  animation: in 4s steps(60, end); 
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

}

@keyframes in{ 
    from { width: 0; } 
} 

.fade-out-slow {
  overflow: hidden;
  width: 4.5em;
  animation: out 4s steps(8, end);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  height: 100vh;
}

  @keyframes out{ 
    from { width: 4.5; }
    to { width: 0; } 
  } 

.full-content {
  // width: 100%;
  // height: 100vh;
  // display: table;
  // overflow: hidden;

  height: 100vh;
  width: 100%;
  display: table;
  overflow: hidden;
}

@media (max-width: $maxTabletSize) { 
  .full-content { 
    height: 100vh;
    width: 100%;
    display: table;
    overflow: hidden;
  }
}

.words {
  display: table-cell;
  vertical-align: middle;
  line-height: 5em;

}

@media (max-width: $maxTabletSize) { 
  .words {
    line-height: 2em;
    font-size: 1.5em;
  }
}


.header-class {
  background: black;
}

@keyframes animStar {
  from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(80px) rotate(-360deg); }
}

@function multiple-box-shadow ($n) {
  $value: '#{random(3000)}px #{random(2395)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(3000)}px #{random(1000)}px #FFF';
  }
  @return unquote($value);
}


#stars {
  width: 1.5px;
  height: 1.5px;
  background: transparent;
  box-shadow: multiple-box-shadow(1500);
  animation: animStar 30s linear infinite;
}