@import '../../../../shared/view.scss';

  
.words {
    display: table-cell;
    vertical-align: middle;
  
  }

.line-break {
    line-height: 2.0em;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: white;
    background: teal;
    position: relative;
    vertical-align: middle;
    margin: 0 auto 40px;
    line-height: 150px;
    font-size: 50px;
    font-family: Arial
}

@media (max-width: $maxTabletSize) {

    .logo {
        margin: 10px;
    }
}

// .logo {
//     margin: 10px;
// }

.bottom-break {
    padding-bottom: 3.0em;
}

.tables {
    margin: 0 2.0em;
}

.blue {
    color: blue
}