.resume {
    background-image: url(../img/resume.jpeg);
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resume-break {
    padding-top: 5.0em;
}

.line-break {
    line-height: 2.0em;
}