#form-pic {
}

#form-overall {
    background-image: url(../img/form.jpg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    padding: 0;
    background-size: cover;
    z-index: 1;
}

.form-fill {
    padding: 2em 4em;
}