.resume {
    background-image: url(../img/laptop.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: table;
    overflow: hidden;
}

.resume-break {
    padding-top: 3.0em;
}