@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

html {
  font-size: calc(20px + (26 - 16) * ((120 vw - 1000px) / (1920 - 1000)));
}


body h1 {
  font-weight: 900;
  font-size: 3rem;
}

body h2 {
  font-weight: 900;
  font-size: 2.4rem;
}

body h3 {
font-weight: 900;
font-size: 1.4rem;
}

body p1 {
  font-size: 2rem;
}

body p3 {
  font-size: 1.4rem;
}



* {
  font-family: Lato;
}

.relative {
  position: relative;
}

.blue-class {
  // background: #FDC830;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   background: #fffbd5;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: #F2994A;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// background: #6190E8;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #9CECFB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
}

.white-colour {
  color: white;
}

.grey-colour {
  background-color: #F0F0F0;
}

.slide-height {
  height: 80vh;
}

.full-height {
  height: 100vh;
}